[submodule "libs/websocketpp"]
	path = libs/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest
[submodule "libs/OpenNI2"]
	path = libs/OpenNI2
	url = https://github.com/spastorelli/OpenNI2
[submodule "libs/libfreenect"]
	path = libs/libfreenect
	url = https://github.com/OpenKinect/libfreenect
